*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.2s linear;
    font-family: 'Fira Sans', sans-serif;
}
:root{
    --min-color:rgb(255, 0, 102);
    --sc-color: #3ec1d5;
    --th-color: #333;
}
html{
    scroll-behavior: smooth;
    scroll-padding-top: 0.5rem;

}
.btn{
    display: inline-block;
    padding: 0.8rem 3.8rem;
    font-size: 1.8rem;
    border: 0.1rem solid var(--sc-color);
    outline: 0;
    background: var(--sc-color);
    border-radius: 1rem;
    cursor: pointer;
    text-align: center;
    color: var(--min-color);
}
.btn:hover{
    background: none;
    color: var(--sc-color);
}
.heading{
    margin: 5rem auto;
    font-size: 3.5rem;
    text-align: center;
    color: var(--th-color);
}
.heading div{
    display: inline-block;
    border-bottom: 0.2rem solid var(--th-color);
    width: 15rem;

}
.heading div:hover{
    width: 25rem;
}
section{
    padding: 3rem 9%;
}
header{
    /* position: fixed; */
    top: 0; right: 0; left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3%;
    background: linear-gradient(90deg, rgba(239,166,247,1) 0%, rgba(240,235,181,0.9943627109046743) 100%);    padding: 20px;
    z-index: 1001;
}
header .logo{
    font-size: 2.5rem;
    color: var(--min-color);
    padding: 0.4rem;
}
header .navbar a{
    margin: 0 0.8rem;
    font-size: 1.5rem;
    color: var(--min-color);
    padding: 0.4rem ;
    text-decoration: none;

}
header .navbar a:hover,
header .fa-bars:hover{
    color: var(--sc-color);
}
header .fa-bars{
    font-size: 2.8rem;
    color: var(--min-color);
    cursor: pointer;
    display: none;

}


/* ------------------------------------------------ */

@media(max-width:850px){

    header .fa-bars{
        display: block;
    }
    header .navbar{
        position: fixed;
        /* */ top: 1000rem; left: 0; 
        text-align: center;
        background: rgba(10, 10, 9, 0.6);
        width: 100%;
        flex-direction: column;
    }
    header .navbar.active{
        top: 7.5rem;
    }
    header .navbar a{
        display: block;
        margin: 0.3rem 0;
        padding: 1rem;
        font-size: 2.6rem;
        color: var(--min-color); 
        flex-direction: row;
    }
    header .navbar a:hover{
        background: var(--min-color);
    }
}


/* ------------------------------------------------- */

.carousel-item h1{
color: rgb(255, 0, 102);;
}

.corosal_img{
opacity: 0.3;
}

/* ------------------------------------------------- */
/* services */

/* ............................................ */
#services_img{
    height: 375px;
    width: 100%;
}
#services_main_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: auto;
    width: 90%;
    background: linear-gradient(90deg, rgba(239,166,247,1) 0%, rgba(240,235,181,0.9943627109046743) 100%);
    ;
    padding: 20px;
    /* border: 2px solid red; */
}

.services_info{

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin: 10px;

}

@media screen and (max-width:600px) {
    .services_info{
        flex-direction: column;
    }
      
}
/* Testomonial */
.testomonial{
    width: 100%;
    padding-top: 10px;
    margin: auto;
    text-align: center;
    margin-top: 40px;
    background: linear-gradient(90deg, rgba(239,166,247,1) 0%, rgba(240,235,181,0.9943627109046743) 100%);    
}
.testomonial-div{
    /* border: 2px solid black; */
    display: flex;
    flex-direction: row;
    padding: 10px;
} 
.testomonial-col{
    flex-basis: 45%; 
    border-radius: 10px;
    margin-bottom: 2%;
    text-align: center;
    background-color: #f6d0d0;
    padding: 20px;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 40px;
}
.testomonial-col img{
    height: 200px;
    margin-left: 5px;
    margin-right: 20px;

    
   
    /* border-radius: 50%; */
}
.testomonial-col h3{
margin-top: 10px;
text-align: left;

}
.testomonial-col .fa{
    color: red;
}

/* FooterMap */
.FooterMap{
    display: flex;
   
    /* background-color: rgb(245, 185, 199); */
    /* margin: 20px; */
    padding: 25px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
/* footer */


.footer_div{
    background: linear-gradient(90deg, rgba(239,166,247,1) 0%, rgba(240,235,181,0.9943627109046743) 100%);
    display:flex;
    /* width: 90%; */
    /* margin: 20px 20px; */
    padding: 20px 20px;
    justify-content: center;
      
}
.row1{
    display: flex;
    align-items: right;
    flex-direction: row;
    justify-content:space-between;
    margin: 20px;
    padding: 25px;
    background: linear-gradient(90deg, rgba(239,166,247,1) 0%, rgba(240,235,181,0.9943627109046743) 100%);

    ;
}

.connect_with_us{
   
    align-items: center;
    flex-direction: column;
  
}
.connect_with_us h1{
    margin-top: 20px;
}

.connect_with{
   width: 80%;
   padding-top: 50px;
   margin: auto;
   text-align: center;
   align-items: center;
   }

.connect_with-col{
   flex-basis: 30%;
   border-radius: 10px;
   text-align: left;
   margin-bottom: 10px;
   /* background-color: rgb(164, 164, 174); */
}
.connect_with-col h4{
   margin-top: 10px;
   margin-bottom: 10px;
   text-align: left;
}
.connect_with-col i{
    font-size: 25px;
    color: rgb(72, 0, 255);
}
